section {
    background-color: lightgrey;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
div {
    margin: 20px;
}
header {
    background-color: black;
    margin: 0;
    padding: 20px;
    background-size: 100%;
    color: white;
    height: 400px;
    
}