section {
    background-color: white;
    box-sizing: border-box;
    display: -ms-flexbox;
    -ms-flex-box-wrap: wrap;
    -ms-flexbox-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
    height: 800px;


}

header {
    background-color: black;
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg);
    background-size: 100%;
    padding: 20px;
    color: white;
    height: 650px;
    position: relative;
    text-align: center;
    
}

input {
    width: 200%;
}
.about {
    height: 400px;
}

textarea {
    width: 200%;
}

.text {
    position: relative;
    top: 190px;
    text-align: center;
    width: 100%;
    
}



div {
    margin: auto;
    width: 100px;

}

div img {
    margin: auto;
    width: 100%;

}

body {
    margin: 0px;
    padding: 0px;

}

footer {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 150px;
    color: white;

}




figure {
        background-color: white;
        box-sizing: border-box;
        text-align: center;
        
}

figure img {
    width: 60%;
    position: relative;
    
}

.what-we-do {
    position: relative;
    left: 580px;
    top: 80px;
}

.portfolio {
    background-color: white;
    height: 600px;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 100%;
    margin: .0vw;
}

.p-text {
    position: relative;
    left: 600px;
    top: 80px;
}

.portfolio img {
    width: 120%;
    height: auto;
}

@media screen and (max-width: 400px) {
    section .portfolio {
        margin: 0;
    }

    section {
        padding: 0;
    }
}

.contact {
    background-color: brown;
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg);
    background-size: 100%;
    text-align: center;
    height: 500px;
}
.c-text {
    position: relative;
    left: 600px;
    top: 20px;
    color: white;

}

.logo img {
    position: relative;
    top: 180px;
    text-align: center;
    width: 50px;

}
.mouse img {
    position: relative;
    top: 350px;
    width: 30px;

}

.services {
    background-color: blue;
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 250px;
    padding: 20px;

}

.s-text {
    position: relative;
    bottom: 10px;
    color: white;
    width: 100%;
    text-align: center;

}
.a-text {
    position: relative;
    bottom: 10px;
    color: black;
    width: 100%;
    text-align: center;

}

div img {
    width: 200px;
    box-sizing: border-box;
}

.middle {
    flex: 1;
}

footer img {

    width: 100%;
    position: relative;
    left: 400px;

}

footer div {
    width: 100%;

}
.name {
    position: relative;
    bottom: 100px;
    left: 180px;
    
}
.email {
    position: relative;
    bottom: 100px;
    left: 70px;
}

.textarea {
    position: relative;
    top: 80px;
    right: 540px;
    width: 20%;
    height: 60%;
}